@import "~bootstrap/dist/css/bootstrap.min.css";
.body {
  box-sizing: border-box;
}
.card {
  border-radius: 10px;
  margin: auto;
  display: inline-block;
  height: 320px;
  width: 220px;
  position: relative;
  text-align: center;
  font-size: 70px;
}
.number {
  height: 110px;
}
.symbol2 {
  transform: rotate(180deg);
}

.color-rojo {
  color: red;
}

.color-black {
  color: black;
}
